<h3><%= link_to item.title, portfoliio_show_path(item) %></h3>
    <p><%= item.subtitle %></p>
    <p><%= item.body %></p>
    <%= image_tag item.thumbnail if !item.thumbnail.nil? %>
    <%= link_to "Edit", edit_portfoliio_path(item)%>
<%= link_to "Delete", item, method: :delete, data: { confirm: "Are you sure?" } %>